@model MyWebsite.Models.SliderViewModel

<!-- SLIDESHOW -->
<div class="slider">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                @foreach (var slider in Model.Sliders)
                {
                    if (!String.IsNullOrEmpty(slider.Link))
                    {
                        <li data-transition="@slider.TransitionStyle" data-masterspeed="@slider.TransitionSpeed" data-slotamount="@slider.SlotAmount" data-link="@slider.Link">
                            @Html.Raw(slider.Html)
                        </li>
                    }
                    else
                    {
                        <li data-transition="@slider.TransitionStyle" data-masterspeed="@slider.TransitionSpeed" data-slotamount="@slider.SlotAmount">
                            @Html.Raw(slider.Html)
                        </li>
                    }
                }
            </ul>
            <div class="tp-bannertimer tp-top"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var CONFIG_REVOLUTION = {
        delay: 9000,
        startwidth: 1170,
        startheight: 460,
        hideThumbs: 200,
        navigationType: "bullet",
        navigationArrows: "verticalcentered",
        navigationStyle: "round",
        touchenabled: "on",
        shuffle: "off",
        navOffsetHorizontal: 0,
        navOffsetVertical: -14,
        onHoverStop: "on",
        thumbWidth: 100,
        thumbHeight: 50,
        thumbAmount: 5,
        hideCaptionAtLimit: 0,
        hideAllCaptionAtLilmit: 0,
        hideSliderAtLimit: 0,
        stopAtSlide: -1,
        stopAfterLoops: -1,
        fullWidth: "on"
    };
</script>
<!-- SLIDESHOW EOF -->
